:root {
  --ALPHA-LIGHT: 0.3;
  --ALPHA-HALF: 0.5;
  --ALPHA-FULL: 0.8;

  --LIME: hsla(120, 100%, 50%, 1);
  --HSLA-LIME-LIGHT: hsla(120, 100%, 50%, var(--ALPHA-LIGHT));
  --HSLA-LIME-HALF: hsla(120, 100%, 50%, var(--ALPHA-HALF));
  --HSLA-LIME-FULL: hsla(120, 100%, 50%, var(--ALPHA-FULL));

  --DEEP-SKY-BLUE: hsla(195, 100%, 50%, 1);
  --HSLA-DEEP-SKY-BLUE-LIGHT: hsla(195, 100%, 50%, var(--ALPHA-LIGHT));
  --HSLA-DEEP-SKY-BLUE-HALF: hsla(195, 100%, 50%, var(--ALPHA-HALF));
  --HSLA-DEEP-SKY-BLUE-FULL: hsla(195, 100%, 50%, var(--ALPHA-FULL));

  --DODGER-BLUE: hsla(210, 100%, 56%, 1);
  --HSLA-DODGER-BLUE-LIGHT: hsla(210, 100%, 56%, var(--APLHA-LIGHT));
  --HSLA-DODGER-BLUE-HALF: hsla(210, 100%, 56%, var(--APLHA-HALF));
  --HSLA-DODGER-BLUE-FULL: hsla(210, 100%, 56%, var(--APLHA-FULL));

  --GAINSBORO: hsla(0, 0%, 86%, 1);
  --HSLA-GAINSBORO-LIGHT: hsla(0, 0%, 86%, var(--ALPHA-LIGHT));
  --HSLA-GAINSBORO-HALF: hsla(0, 0%, 86%, var(--ALPHA-HALF));
  --HSLA-GAINSBORO-FULL: hsla(0, 0%, 86%, var(--ALPHA-FULL));


  --PALE-GREEN: hsla(120, 100%, 75%, 1);
  --HSLA-PALE-GREEN-LIGHT: hsla(120, 100%, 75%, var(--ALPHA-LIGHT));
  --HSLA-PALE-GREEN-HALF: hsla(120, 100%, 75%, var(--ALPHA-HALF));
  --HSLA-PALE-GREEN-FULL: hsla(120, 100%, 75%, var(--ALPHA-FULL));


  --DARK-SLATE-GREY: hsla(180, 25%, 24%, 1);
  --HSLA-DARK-SLATE-GREY-LIGHT: hsla(180, 25%, 24%, var(--ALPHA-LIGHT));
  --HSLA-DARK-SLATE-GREY-HALF: hsla(180, 25%, 24%, var(--ALPHA-HALF));
  --HSLA-DARK-SLATE-GREY-FULL: hsla(180, 25%, 24%, var(--ALPHA-FULL));

  --LIGHT-SLATE-GREY: hsla(210, 14%, 53%, 1);
  --HSLA-LIGHT-SLATE-GREY-LIGHT: hsla(210, 14%, 53%, var(--ALPHA-LIGHT));
  --HSLA-HALF-SLATE-GREY-HALF: hsla(210, 14%, 53%, var(--ALPHA-HALF));
  --HSLA-FULL-SLATE-GREY-FULL: hsla(210, 14%, 53%, var(--ALPHA-FULL));

  --RED: hsla(0, 100%, 50%, 1);
  --HSLA-RED-LIGHT: hsla(0, 100%, 50%, var(--ALPHA-LIGHT));
  --HSLA-RED-HALF: hsla(0, 100%, 50%, var(--ALPHA-HALF));
  --HSLA-RED-FULL: hsla(0, 100%, 50%, var(--ALPHA-FULL));

  --CHARCOAL: hsla(0, 0%, 27%, 1);

  --HEADER-HEIGHT: 5rem;
  --HEADER-SPACE-TOP: 1rem;
  --NAVBAR-WIDTH: 16.25rem;
  --SHADOW-ONE-KEY: 0.75rem 0rem 3.5rem black;
  --SHADOW-ONE-AMBIENT: 0rem 0rem 3.5rem var(--LIME);
  --SHADOW-ONE: var(--SHADOW-ONE-KEY),
                var(--SHADOW-ONE-AMBIENT);

  --SHADOW-TWO-KEY: 0.35rem 0rem 1.6rem black;
  --SHADOW-TWO-AMBIENT: 0rem 0rem 1.6rem var(--LIME);
  --SHADOW-TWO: var(--SHADOW-TWO-KEY),
                var(--SHADOW-TWO-AMBIENT);

  --SHADOW-THREE-KEY: 0.13rem 0rem 0.6rem black;
  --SHADOW-THREE-AMBIENT: 0rem 0rem 0.6rem var(--LIME);
  --SHADOW-THREE: var(--SHADOW-THREE-KEY),
                var(--SHADOW-THREE-AMBIENT);

  --PRIMARY-COLOR: var(--PALE-GREEN);
  --SECONDARY-COLOR: var(--CHARCOAL);
  --TERTIARY-COLOR: #F5F5F5; /*smokey grey*/
}

body {
  background-color: var(--TERTIARY-COLOR);
}

[class*="__state--visibility"] {
  display: none;
}

[class*="ctrl--"]:hover,
[class*="ctrl--"]:active { cursor: pointer; }

.author {
  color: var(--LIME);
  margin-left: 0.3rem;
}

.container { position: relative; }
