<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport"
     content="width=device-width, initial-scale=1" />
    <meta name="author" content="Zebedee Lewis" />
    <link rel="stylesheet" type="text/css"
     href="./style_module.css" />
  </head>
  <body>
		<!-- TODO:
		 add faded number to section headings
		-->
    <div class="container">
      <input type="checkbox"
       id="navbar__state--visibility"
       class="navbar__state--visibility">
      <nav id="navbar" class="navbar">
        <header class="navbar__header">
          <label for="navbar__state--visibility"
           class="navbar__ctrl--toggle-visibility"></label>
          <span class="navbar__logo">
            <span class="logo-icon"></span>
            <span class="logo-text">HTTP</span>
          </span>
        </header>

        <div class="navbar__content">
        <!--
          1) HTTP Messages
            1. General Structure
            2. Request
            3. Response
          3) HTTP Cookies
            1. Intro
            2. Cookie Types
            3. Cookie Directives/Attributes
          2) HTTP Cache
            1. Intro
            2. Basic Caching process
            3. Cache Control Headers
        -->
          <a href="#main-header"
           class="sub-navbar__ctrl--toggle nav-link"
           id="navbar--home__nav-link" >
            <span class="nav-link__text">
              home
            </span>
          </a>
        <!-- -->

        <!-- Navigation group -->
          <input type="checkbox"
           id="sub-navbar--http-messages__state--visibility"
           class="sub-navbar__state--visibility">
          <label for="sub-navbar--http-messages__state--visibility"
           class="sub-navbar__ctrl--toggle nav-link"
           id="navbar--http-messages__nav-link" >
            <span class="nav-link__text">
              http-messages
            </span>
          </label>
          <nav id="sub-navbar--http-messages"
           class="sub-navbar">
            <a href="#general-structure"
             class="nav-link sub-navbar__nav-link">
              general-structure
            </a>
            <a href="#general-structure"
             class="nav-link sub-navbar__nav-link">
              request
            </a>
            <a href="#general-structure"
             class="nav-link sub-navbar__nav-link">
              response
            </a>
          </nav>
        <!-- -->

        <!-- Navigation group -->
          <input type="checkbox"
           id="sub-navbar--http-cookies__state--visibility"
           class="sub-navbar__state--visibility">
          <label for="sub-navbar--http-cookies__state--visibility"
           class="sub-navbar__ctrl--toggle nav-link"
           id="navbar--http-cookies__nav-link">
            <span class="nav-link__text">
              http-cookies
            </span>
          </label>
          <nav id="sub-navbar--http-cookies"
           class="sub-navbar">
            <a href="#cookie-types"
             class="nav-link sub-navbar__nav-link">
              cookie-types
            </a>
            <a href="#cookie-types"
             class="nav-link sub-navbar__nav-link">
              cookie-attributes
            </a>
            <a href="#cookie-types"
             class="nav-link sub-navbar__nav-link">
              cookie-scope
            </a>
          </nav>
        <!-- -->

        <!-- Navigation group -->
          <input type="checkbox"
           id="sub-navbar--http-cache__state--visibility"
           class="sub-navbar__state--visibility">
          <label for="sub-navbar--http-cache__state--visibility"
           class="sub-navbar__ctrl--toggle nav-link"
           id="navbar--http-cache__nav-link">
            <span class="nav-link--http-cache__icon">
            </span>
            <span class="nav-link__text">
              http-cache
            </span>
          </label>
          <nav id="sub-navbar--http-cache"
           class="sub-navbar">
            <a href="#cache-process"
             class="nav-link sub-navbar__nav-link">
              cache-process
            </a>
            <a href="#cache-process"
             class="nav-link sub-navbar__nav-link">
              cache-control-headers
            </a>
            <a href="#cache-process"
             class="nav-link sub-navbar__nav-link">
              revving
            </a>
          </nav>
        <!-- -->

        <!-- Navigation group -->
          <input type="checkbox"
           id="sub-navbar--http-security__state--visibility"
           class="sub-navbar__state--visibility">
          <label for="sub-navbar--http-security__state--visibility"
           class="sub-navbar__ctrl--toggle nav-link"
           id="navbar--http-security__nav-link">
            <span class="nav-link--http-security__icon">
            </span>
            <span class="nav-link__text">
              http-security
            </span>
          </label>
          <nav id="sub-navbar--http-security"
           class="sub-navbar">
            <a href="#cache-process"
             class="nav-link sub-navbar__nav-link">
              cache-process
            </a>
            <a href="#cache-process"
             class="nav-link sub-navbar__nav-link">
              cache-control-headers
            </a>
            <a href="#cache-process"
             class="nav-link sub-navbar__nav-link">
              revving
            </a>
          </nav>
        <!-- -->
        </div>

        <footer class="navbar__footer">
          <span class="copyright">
            &copy; copyright 2018
            <span class="author">Zebedee Lewis</span>
          </span>
          <hr>
          <a class="nav-link license"
           href="https://opensource.org/licenses/MIT">
            license MIT 
          </a>
        </footer>
      </nav>
      <main id="main-doc" class="main">
        <header id="main-header" class="main__header">
          <h1>HyperText Transfer Protocol</h1>
        </header>
        <div id="intro" class="main-section">
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Proin posuere ligula nisl, in sagittis tortor iaculis non.
          Pellentesque fringilla egestas lacinia. Ut auctor
          pellentesque erat. Vivamus cursus lectus nulla, accumsan
          malesuada velit consectetur non. Nam condimentum velit quis
          nulla interdum molestie. Nullam vulputate odio nec nisl
          varius, sed tristique ex auctor. Phasellus neque est, porta
          quis odio sed, ultrices maximus risus. Donec scelerisque non
          nunc sed dignissim. Curabitur nisi dui, posuere sed vehicula
          vitae, viverra nec enim. Nam facilisis posuere nulla, sed
          sollicitudin eros rhoncus in. Phasellus tristique nulla at
          mauris venenatis placerat. Morbi eget lectus ac leo blandit
          accumsan et ut enim. Pellentesque et rutrum urna, vel aliquet
          velit. Nam sem quam, vehicula in rutrum ac, luctus non mi.
          Nam consectetur ante purus, quis elementum ante eleifend ac.
          </p>
        </div>

        <!-- Template 
        End Template -->

        <section id="http-messages" class="main-section">
          <header class="section-header">
            <h2 class="section-header__text">
              http-messages
            </h2>
            <a href="http-messages"
             class="cite-link">
            </a>
          </header>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Proin posuere ligula nisl, in sagittis tortor iaculis non.
          Pellentesque fringilla egestas lacinia. Ut auctor
          pellentesque erat. Vivamus cursus lectus nulla, accumsan
          malesuada velit consectetur non. Nam condimentum velit quis
          nulla interdum molestie. Nullam vulputate odio nec nisl
          varius, sed tristique ex auctor. Phasellus neque est, porta
          quis odio sed, ultrices maximus risus. Donec scelerisque non
          nunc sed dignissim. Curabitur nisi dui, posuere sed vehicula
          vitae, viverra nec enim. Nam facilisis posuere nulla, sed
          sollicitudin eros rhoncus in. Phasellus tristique nulla at
          mauris venenatis placerat. Morbi eget lectus ac leo blandit
          accumsan et ut enim. Pellentesque et rutrum urna, vel aliquet
          velit. Nam sem quam, vehicula in rutrum ac, luctus non mi.
          Nam consectetur ante purus, quis elementum ante eleifend ac.
          </p>

          <section id="general-structure">
            <header class="section-header">
              <h3 class="section-header__text">
                general-structure
              </h3>
              <a href="general-structure"
               class="cite-link">
              </a>
            </header>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin posuere ligula nisl, in sagittis tortor iaculis non.
            Pellentesque fringilla egestas lacinia. Ut auctor
            pellentesque erat. Vivamus cursus lectus nulla, accumsan
            malesuada velit consectetur non. Nam condimentum velit quis
            nulla interdum molestie. Nullam vulputate odio nec nisl
            varius, sed tristique ex auctor. Phasellus neque est, porta
            quis odio sed, ultrices maximus risus. Donec scelerisque non
            nunc sed dignissim. Curabitur nisi dui, posuere sed vehicula
            vitae, viverra nec enim. Nam facilisis posuere nulla, sed
            sollicitudin eros rhoncus in. Phasellus tristique nulla at
            mauris venenatis placerat. Morbi eget lectus ac leo blandit
            accumsan et ut enim. Pellentesque et rutrum urna, vel aliquet
            velit. Nam sem quam, vehicula in rutrum ac, luctus non mi.
            Nam consectetur ante purus, quis elementum ante eleifend ac.
            </p>

            <figure>
              <pre class="code-block"><code>
HTTP/1.1 200 OK
Date: Sat, 09 Oct 2010 14:28:02 GMT
Server: Apache
Last-Modified: Tue, 01 Dec 2009 20:18:22 GMT
ETag: "51142bc1-7449-479b075b2891b"
Accept-Ranges: bytes
Content-Length: 29769
Content-Type: text/html
              </code></pre>
              <figcaption>Code example 1.1</figcaption>
            </figure>

            <p>
            Nunc in sem non ex porta egestas non eget nunc. Sed
            condimentum massa quis tortor tincidunt, a ultrices libero
            laoreet. Nulla facilisi. Praesent sed nunc pellentesque,
            vulputate lorem et, posuere nulla. Curabitur fermentum finibus
            tortor, ac fringilla ante imperdiet quis. Etiam molestie augue
            sed purus efficitur, eu vulputate mi aliquam. Praesent eget
            fermentum lorem, vestibulum malesuada leo. Mauris porta sit
            amet turpis vel interdum. Proin id nisi urna. Nulla facilisi.
            Phasellus lacinia venenatis magna eget laoreet. Aliquam erat
            volutpat. Sed vitae tempor enim.
            </p>
          </section>
          <section id="request">
            <header class="section-header">
              <h3 class="section-header__text">
                request
              </h3>
              <a href="request"
               class="cite-link">
              </a>
            </header>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin posuere ligula nisl, in sagittis tortor iaculis non.
            Pellentesque fringilla egestas lacinia. Ut auctor
            pellentesque erat. Vivamus cursus lectus nulla, accumsan
            malesuada velit consectetur non. Nam condimentum velit quis
            nulla interdum molestie. Nullam vulputate odio nec nisl
            varius, sed tristique ex auctor. Phasellus neque est, porta
            quis odio sed, ultrices maximus risus. Donec scelerisque non
            nunc sed dignissim. Curabitur nisi dui, posuere sed vehicula
            vitae, viverra nec enim. Nam facilisis posuere nulla, sed
            sollicitudin eros rhoncus in. Phasellus tristique nulla at
            mauris venenatis placerat. Morbi eget lectus ac leo blandit
            accumsan et ut enim. Pellentesque et rutrum urna, vel aliquet
            velit. Nam sem quam, vehicula in rutrum ac, luctus non mi.
            Nam consectetur ante purus, quis elementum ante eleifend ac.
            </p>

            <figure>
              <pre class="code-block"><code>
HTTP/1.1 200 OK
Date: Sat, 09 Oct 2010 14:28:02 GMT
Server: Apache
Last-Modified: Tue, 01 Dec 2009 20:18:22 GMT
ETag: "51142bc1-7449-479b075b2891b"
Accept-Ranges: bytes
Content-Length: 29769
Content-Type: text/html
              </code></pre>
              <figcaption>Code example 1.2</figcaption>
            </figure>

            <p>
            Nunc in sem non ex porta egestas non eget nunc. Sed
            condimentum massa quis tortor tincidunt, a ultrices libero
            laoreet. Nulla facilisi. Praesent sed nunc pellentesque,
            vulputate lorem et, posuere nulla. Curabitur fermentum finibus
            tortor, ac fringilla ante imperdiet quis. Etiam molestie augue
            sed purus efficitur, eu vulputate mi aliquam. Praesent eget
            fermentum lorem, vestibulum malesuada leo. Mauris porta sit
            amet turpis vel interdum. Proin id nisi urna. Nulla facilisi.
            Phasellus lacinia venenatis magna eget laoreet. Aliquam erat
            volutpat. Sed vitae tempor enim.
            </p>
          </section>
          <section id="response">
            <header class="section-header">
              <h3 class="section-header__text">
                response
              </h3>
              <a href="response"
               class="cite-link">
              </a>
            </header>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin posuere ligula nisl, in sagittis tortor iaculis non.
            Pellentesque fringilla egestas lacinia. Ut auctor
            pellentesque erat. Vivamus cursus lectus nulla, accumsan
            malesuada velit consectetur non. Nam condimentum velit quis
            nulla interdum molestie. Nullam vulputate odio nec nisl
            varius, sed tristique ex auctor. Phasellus neque est, porta
            quis odio sed, ultrices maximus risus. Donec scelerisque non
            nunc sed dignissim. Curabitur nisi dui, posuere sed vehicula
            vitae, viverra nec enim. Nam facilisis posuere nulla, sed
            sollicitudin eros rhoncus in. Phasellus tristique nulla at
            mauris venenatis placerat. Morbi eget lectus ac leo blandit
            accumsan et ut enim. Pellentesque et rutrum urna, vel aliquet
            velit. Nam sem quam, vehicula in rutrum ac, luctus non mi.
            Nam consectetur ante purus, quis elementum ante eleifend ac.
            </p>

            <figure>
              <p class="warning-block">
              Warning!!!
              nunc sed dignissim. Curabitur nisi dui, posuere sed vehicula
              vitae, viverra nec enim. Nam facilisis posuere nulla, sed
              sollicitudin eros rhoncus in. Phasellus tristique nulla at
              mauris venenatis placerat. Morbi eget lectus ac leo blandit
              accumsan et ut enim. Pellentesque et rutrum urna, vel aliquet
              velit. Nam sem quam, vehicula in rutrum ac, luctus non mi.
              </p>
              <figcaption>Warning 1.2</figcaption>
            </figure>

            <p>
            Nunc in sem non ex porta egestas non eget nunc. Sed
            condimentum massa quis tortor tincidunt, a ultrices libero
            laoreet. Nulla facilisi. Praesent sed nunc pellentesque,
            vulputate lorem et, posuere nulla. Curabitur fermentum finibus
            tortor, ac fringilla ante imperdiet quis. Etiam molestie augue
            sed purus efficitur, eu vulputate mi aliquam. Praesent eget
            fermentum lorem, vestibulum malesuada leo. Mauris porta sit
            amet turpis vel interdum. Proin id nisi urna. Nulla facilisi.
            Phasellus lacinia venenatis magna eget laoreet. Aliquam erat
            volutpat. Sed vitae tempor enim.
            </p>
          </section>
        </section>

        <section id="http-cookies" class="main-section">
          <header class="section-header">
            <h2 class="section-header__text">
              http-cookies
            </h2>
            <a href="http-cookies"
             class="cite-link">
            </a>
          </header>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Proin posuere ligula nisl, in sagittis tortor iaculis non.
          Pellentesque fringilla egestas lacinia. Ut auctor
          pellentesque erat. Vivamus cursus lectus nulla, accumsan
          malesuada velit consectetur non. Nam condimentum velit quis
          nulla interdum molestie. Nullam vulputate odio nec nisl
          varius, sed tristique ex auctor. Phasellus neque est, porta
          quis odio sed, ultrices maximus risus. Donec scelerisque non
          nunc sed dignissim. Curabitur nisi dui, posuere sed vehicula
          vitae, viverra nec enim. Nam facilisis posuere nulla, sed
          sollicitudin eros rhoncus in. Phasellus tristique nulla at
          mauris venenatis placerat. Morbi eget lectus ac leo blandit
          accumsan et ut enim. Pellentesque et rutrum urna, vel aliquet
          velit. Nam sem quam, vehicula in rutrum ac, luctus non mi.
          Nam consectetur ante purus, quis elementum ante eleifend ac.
          </p>
          <section id="cookie-types">
            <header class="section-header">
              <h3 class="section-header__text">
                cookie-types
              </h3>
              <a href="cookie-types"
               class="cite-link">
              </a>
            </header>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin posuere ligula nisl, in sagittis tortor iaculis non.
            Pellentesque fringilla egestas lacinia. Ut auctor
            pellentesque erat. Vivamus cursus lectus nulla, accumsan
            malesuada velit consectetur non. Nam condimentum velit quis
            nulla interdum molestie. Nullam vulputate odio nec nisl
            varius, sed tristique ex auctor. Phasellus neque est, porta
            quis odio sed, ultrices maximus risus. Donec scelerisque non
            nunc sed dignissim. Curabitur nisi dui, posuere sed vehicula
            vitae, viverra nec enim. Nam facilisis posuere nulla, sed
            sollicitudin eros rhoncus in. Phasellus tristique nulla at
            mauris venenatis placerat. Morbi eget lectus ac leo blandit
            accumsan et ut enim. Pellentesque et rutrum urna, vel aliquet
            velit. Nam sem quam, vehicula in rutrum ac, luctus non mi.
            Nam consectetur ante purus, quis elementum ante eleifend ac.
            </p>

            </figure>
              <pre class="code-block"><code>
HTTP/1.1 200 OK
Date: Sat, 09 Oct 2010 14:28:02 GMT
Server: Apache
Last-Modified: Tue, 01 Dec 2009 20:18:22 GMT
ETag: "51142bc1-7449-479b075b2891b"
Accept-Ranges: bytes
Content-Length: 29769
Content-Type: text/html
              </code></pre>
              <figcaption>Code example 1.2</figcaption>
            </figure>

            <p>
            Nunc in sem non ex porta egestas non eget nunc. Sed
            condimentum massa quis tortor tincidunt, a ultrices libero
            laoreet. Nulla facilisi. Praesent sed nunc pellentesque,
            vulputate lorem et, posuere nulla. Curabitur fermentum finibus
            tortor, ac fringilla ante imperdiet quis. Etiam molestie augue
            sed purus efficitur, eu vulputate mi aliquam. Praesent eget
            fermentum lorem, vestibulum malesuada leo. Mauris porta sit
            amet turpis vel interdum. Proin id nisi urna. Nulla facilisi.
            Phasellus lacinia venenatis magna eget laoreet. Aliquam erat
            volutpat. Sed vitae tempor enim.
            </p>
          </section>
          <section id="cookie-attributes">
            <header class="section-header">
              <h3 class="section-header__text">
                cookie-attributes
              </h3>
              <a href="cookie-attributes"
               class="cite-link">
              </a>
            </header>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin posuere ligula nisl, in sagittis tortor iaculis non.
            Pellentesque fringilla egestas lacinia. Ut auctor
            pellentesque erat. Vivamus cursus lectus nulla, accumsan
            malesuada velit consectetur non. Nam condimentum velit quis
            nulla interdum molestie. Nullam vulputate odio nec nisl
            varius, sed tristique ex auctor. Phasellus neque est, porta
            quis odio sed, ultrices maximus risus. Donec scelerisque non
            nunc sed dignissim. Curabitur nisi dui, posuere sed vehicula
            vitae, viverra nec enim. Nam facilisis posuere nulla, sed
            sollicitudin eros rhoncus in. Phasellus tristique nulla at
            mauris venenatis placerat. Morbi eget lectus ac leo blandit
            accumsan et ut enim. Pellentesque et rutrum urna, vel aliquet
            velit. Nam sem quam, vehicula in rutrum ac, luctus non mi.
            Nam consectetur ante purus, quis elementum ante eleifend ac.
            </p>

            <p>
            Nunc in sem non ex porta egestas non eget nunc. Sed
            condimentum massa quis tortor tincidunt, a ultrices libero
            laoreet. Nulla facilisi. Praesent sed nunc pellentesque,
            vulputate lorem et, posuere nulla. Curabitur fermentum finibus
            tortor, ac fringilla ante imperdiet quis. Etiam molestie augue
            sed purus efficitur, eu vulputate mi aliquam. Praesent eget
            fermentum lorem, vestibulum malesuada leo. Mauris porta sit
            amet turpis vel interdum. Proin id nisi urna. Nulla facilisi.
            Phasellus lacinia venenatis magna eget laoreet. Aliquam erat
            volutpat. Sed vitae tempor enim.
            </p>
          </section>
          <section id="cookie-scope">
            <header class="section-header">
              <h3 class="section-header__text">
                cookie-scope
              </h3>
              <a href="cookie-scope"
               class="cite-link">
              </a>
            </header>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin posuere ligula nisl, in sagittis tortor iaculis non.
            Pellentesque fringilla egestas lacinia. Ut auctor
            pellentesque erat. Vivamus cursus lectus nulla, accumsan
            malesuada velit consectetur non. Nam condimentum velit quis
            nulla interdum molestie. Nullam vulputate odio nec nisl
            varius, sed tristique ex auctor. Phasellus neque est, porta
            quis odio sed, ultrices maximus risus. Donec scelerisque non
            nunc sed dignissim. Curabitur nisi dui, posuere sed vehicula
            vitae, viverra nec enim. Nam facilisis posuere nulla, sed
            sollicitudin eros rhoncus in. Phasellus tristique nulla at
            mauris venenatis placerat. Morbi eget lectus ac leo blandit
            accumsan et ut enim. Pellentesque et rutrum urna, vel aliquet
            velit. Nam sem quam, vehicula in rutrum ac, luctus non mi.
            Nam consectetur ante purus, quis elementum ante eleifend ac.
            </p>

            <p>
            Nunc in sem non ex porta egestas non eget nunc. Sed
            condimentum massa quis tortor tincidunt, a ultrices libero
            laoreet. Nulla facilisi. Praesent sed nunc pellentesque,
            vulputate lorem et, posuere nulla. Curabitur fermentum finibus
            tortor, ac fringilla ante imperdiet quis. Etiam molestie augue
            sed purus efficitur, eu vulputate mi aliquam. Praesent eget
            fermentum lorem, vestibulum malesuada leo. Mauris porta sit
            amet turpis vel interdum. Proin id nisi urna. Nulla facilisi.
            Phasellus lacinia venenatis magna eget laoreet. Aliquam erat
            volutpat. Sed vitae tempor enim.
            </p>
          </section>
        </section>

        <section id="http-cache" class="main-section">
          <header class="section-header">
            <h2 class="section-header__text">
              http-cache
            </h2>
            <a href="http-cache"
             class="cite-link">
            </a>
          </header>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Proin posuere ligula nisl, in sagittis tortor iaculis non.
          Pellentesque fringilla egestas lacinia. Ut auctor
          pellentesque erat. Vivamus cursus lectus nulla, accumsan
          malesuada velit consectetur non. Nam condimentum velit quis
          nulla interdum molestie. Nullam vulputate odio nec nisl
          varius, sed tristique ex auctor. Phasellus neque est, porta
          quis odio sed, ultrices maximus risus. Donec scelerisque non
          nunc sed dignissim. Curabitur nisi dui, posuere sed vehicula
          vitae, viverra nec enim. Nam facilisis posuere nulla, sed
          sollicitudin eros rhoncus in. Phasellus tristique nulla at
          mauris venenatis placerat. Morbi eget lectus ac leo blandit
          accumsan et ut enim. Pellentesque et rutrum urna, vel aliquet
          velit. Nam sem quam, vehicula in rutrum ac, luctus non mi.
          Nam consectetur ante purus, quis elementum ante eleifend ac.
          </p>
          <section id="cache-process">
            <header class="section-header">
              <h3 class="section-header__text">
                cache-process
              </h3>
              <a href="cache-process"
               class="cite-link">
              </a>
            </header>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin posuere ligula nisl, in sagittis tortor iaculis non.
            Pellentesque fringilla egestas lacinia. Ut auctor
            pellentesque erat. Vivamus cursus lectus nulla, accumsan
            malesuada velit consectetur non. Nam condimentum velit quis
            nulla interdum molestie. Nullam vulputate odio nec nisl
            varius, sed tristique ex auctor. Phasellus neque est, porta
            quis odio sed, ultrices maximus risus. Donec scelerisque non
            nunc sed dignissim. Curabitur nisi dui, posuere sed vehicula
            vitae, viverra nec enim. Nam facilisis posuere nulla, sed
            sollicitudin eros rhoncus in. Phasellus tristique nulla at
            mauris venenatis placerat. Morbi eget lectus ac leo blandit
            accumsan et ut enim. Pellentesque et rutrum urna, vel aliquet
            velit. Nam sem quam, vehicula in rutrum ac, luctus non mi.
            Nam consectetur ante purus, quis elementum ante eleifend ac.
            </p>

            <p>
            Nunc in sem non ex porta egestas non eget nunc. Sed
            condimentum massa quis tortor tincidunt, a ultrices libero
            laoreet. Nulla facilisi. Praesent sed nunc pellentesque,
            vulputate lorem et, posuere nulla. Curabitur fermentum finibus
            tortor, ac fringilla ante imperdiet quis. Etiam molestie augue
            sed purus efficitur, eu vulputate mi aliquam. Praesent eget
            fermentum lorem, vestibulum malesuada leo. Mauris porta sit
            amet turpis vel interdum. Proin id nisi urna. Nulla facilisi.
            Phasellus lacinia venenatis magna eget laoreet. Aliquam erat
            volutpat. Sed vitae tempor enim.
            </p>
          </section>
          <section id="cache-control-headers">
            <header class="section-header">
              <h3 class="section-header__text">
                cache-control-headers
              </h3>
              <a href="cache-control-headers"
               class="cite-link">
              </a>
            </header>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin posuere ligula nisl, in sagittis tortor iaculis non.
            Pellentesque fringilla egestas lacinia. Ut auctor
            pellentesque erat. Vivamus cursus lectus nulla, accumsan
            malesuada velit consectetur non. Nam condimentum velit quis
            nulla interdum molestie. Nullam vulputate odio nec nisl
            varius, sed tristique ex auctor. Phasellus neque est, porta
            quis odio sed, ultrices maximus risus. Donec scelerisque non
            nunc sed dignissim. Curabitur nisi dui, posuere sed vehicula
            vitae, viverra nec enim. Nam facilisis posuere nulla, sed
            sollicitudin eros rhoncus in. Phasellus tristique nulla at
            mauris venenatis placerat. Morbi eget lectus ac leo blandit
            accumsan et ut enim. Pellentesque et rutrum urna, vel aliquet
            velit. Nam sem quam, vehicula in rutrum ac, luctus non mi.
            Nam consectetur ante purus, quis elementum ante eleifend ac.
            </p>

            <p>
            Nunc in sem non ex porta egestas non eget nunc. Sed
            condimentum massa quis tortor tincidunt, a ultrices libero
            laoreet. Nulla facilisi. Praesent sed nunc pellentesque,
            vulputate lorem et, posuere nulla. Curabitur fermentum finibus
            tortor, ac fringilla ante imperdiet quis. Etiam molestie augue
            sed purus efficitur, eu vulputate mi aliquam. Praesent eget
            fermentum lorem, vestibulum malesuada leo. Mauris porta sit
            amet turpis vel interdum. Proin id nisi urna. Nulla facilisi.
            Phasellus lacinia venenatis magna eget laoreet. Aliquam erat
            volutpat. Sed vitae tempor enim.
            </p>
          </section>
          <section id="revving">
            <header class="section-header">
              <h3 class="section-header__text">
                revving
              </h3>
              <a href="revving"
               class="cite-link">
              </a>
            </header>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin posuere ligula nisl, in sagittis tortor iaculis non.
            Pellentesque fringilla egestas lacinia. Ut auctor
            pellentesque erat. Vivamus cursus lectus nulla, accumsan
            malesuada velit consectetur non. Nam condimentum velit quis
            nulla interdum molestie. Nullam vulputate odio nec nisl
            varius, sed tristique ex auctor. Phasellus neque est, porta
            quis odio sed, ultrices maximus risus. Donec scelerisque non
            nunc sed dignissim. Curabitur nisi dui, posuere sed vehicula
            vitae, viverra nec enim. Nam facilisis posuere nulla, sed
            sollicitudin eros rhoncus in. Phasellus tristique nulla at
            mauris venenatis placerat. Morbi eget lectus ac leo blandit
            accumsan et ut enim. Pellentesque et rutrum urna, vel aliquet
            velit. Nam sem quam, vehicula in rutrum ac, luctus non mi.
            Nam consectetur ante purus, quis elementum ante eleifend ac.
            </p>

            <p>
            Nunc in sem non ex porta egestas non eget nunc. Sed
            condimentum massa quis tortor tincidunt, a ultrices libero
            laoreet. Nulla facilisi. Praesent sed nunc pellentesque,
            vulputate lorem et, posuere nulla. Curabitur fermentum finibus
            tortor, ac fringilla ante imperdiet quis. Etiam molestie augue
            sed purus efficitur, eu vulputate mi aliquam. Praesent eget
            fermentum lorem, vestibulum malesuada leo. Mauris porta sit
            amet turpis vel interdum. Proin id nisi urna. Nulla facilisi.
            Phasellus lacinia venenatis magna eget laoreet. Aliquam erat
            volutpat. Sed vitae tempor enim.
            </p>
          </section>
        </section>

        <section id="http-security" class="main-section">
          <header class="section-header">
            <h2 class="section-header__text">
              http-security
            </h2>
            <a href="http-security"
             class="cite-link">
            </a>
          </header>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Proin posuere ligula nisl, in sagittis tortor iaculis non.
          Pellentesque fringilla egestas lacinia. Ut auctor
          pellentesque erat. Vivamus cursus lectus nulla, accumsan
          malesuada velit consectetur non. Nam condimentum velit quis
          nulla interdum molestie. Nullam vulputate odio nec nisl
          varius, sed tristique ex auctor. Phasellus neque est, porta
          quis odio sed, ultrices maximus risus. Donec scelerisque non
          nunc sed dignissim. Curabitur nisi dui, posuere sed vehicula
          vitae, viverra nec enim. Nam facilisis posuere nulla, sed
          sollicitudin eros rhoncus in. Phasellus tristique nulla at
          mauris venenatis placerat. Morbi eget lectus ac leo blandit
          accumsan et ut enim. Pellentesque et rutrum urna, vel aliquet
          velit. Nam sem quam, vehicula in rutrum ac, luctus non mi.
          Nam consectetur ante purus, quis elementum ante eleifend ac.
          </p>
          <section id="cache-process">
            <header class="section-header">
              <h3 class="section-header__text">
                cache-process
              </h3>
              <a href="cache-process"
               class="cite-link">
              </a>
            </header>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin posuere ligula nisl, in sagittis tortor iaculis non.
            Pellentesque fringilla egestas lacinia. Ut auctor
            pellentesque erat. Vivamus cursus lectus nulla, accumsan
            malesuada velit consectetur non. Nam condimentum velit quis
            nulla interdum molestie. Nullam vulputate odio nec nisl
            varius, sed tristique ex auctor. Phasellus neque est, porta
            quis odio sed, ultrices maximus risus. Donec scelerisque non
            nunc sed dignissim. Curabitur nisi dui, posuere sed vehicula
            vitae, viverra nec enim. Nam facilisis posuere nulla, sed
            sollicitudin eros rhoncus in. Phasellus tristique nulla at
            mauris venenatis placerat. Morbi eget lectus ac leo blandit
            accumsan et ut enim. Pellentesque et rutrum urna, vel aliquet
            velit. Nam sem quam, vehicula in rutrum ac, luctus non mi.
            Nam consectetur ante purus, quis elementum ante eleifend ac.
            </p>

            <figure>
              <p class="warning-block">
              Warning!!!
              nunc sed dignissim. Curabitur nisi dui, posuere sed vehicula
              vitae, viverra nec enim. Nam facilisis posuere nulla, sed
              sollicitudin eros rhoncus in. Phasellus tristique nulla at
              mauris venenatis placerat. Morbi eget lectus ac leo blandit
              accumsan et ut enim. Pellentesque et rutrum urna, vel aliquet
              velit. Nam sem quam, vehicula in rutrum ac, luctus non mi.
              </p>
              <figcaption>Warning example 1.2</figcaption>
            </figure>

            <p>
            Nunc in sem non ex porta egestas non eget nunc. Sed
            condimentum massa quis tortor tincidunt, a ultrices libero
            laoreet. Nulla facilisi. Praesent sed nunc pellentesque,
            vulputate lorem et, posuere nulla. Curabitur fermentum finibus
            tortor, ac fringilla ante imperdiet quis. Etiam molestie augue
            sed purus efficitur, eu vulputate mi aliquam. Praesent eget
            fermentum lorem, vestibulum malesuada leo. Mauris porta sit
            amet turpis vel interdum. Proin id nisi urna. Nulla facilisi.
            Phasellus lacinia venenatis magna eget laoreet. Aliquam erat
            volutpat. Sed vitae tempor enim.
            </p>
          </section>
          <section id="cache-control-headers">
            <header class="section-header">
              <h3 class="section-header__text">
                cache-control-headers
              </h3>
              <a href="cache-control-headers"
               class="cite-link">
              </a>
            </header>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin posuere ligula nisl, in sagittis tortor iaculis non.
            Pellentesque fringilla egestas lacinia. Ut auctor
            pellentesque erat. Vivamus cursus lectus nulla, accumsan
            malesuada velit consectetur non. Nam condimentum velit quis
            nulla interdum molestie. Nullam vulputate odio nec nisl
            varius, sed tristique ex auctor. Phasellus neque est, porta
            quis odio sed, ultrices maximus risus. Donec scelerisque non
            nunc sed dignissim. Curabitur nisi dui, posuere sed vehicula
            vitae, viverra nec enim. Nam facilisis posuere nulla, sed
            sollicitudin eros rhoncus in. Phasellus tristique nulla at
            mauris venenatis placerat. Morbi eget lectus ac leo blandit
            accumsan et ut enim. Pellentesque et rutrum urna, vel aliquet
            velit. Nam sem quam, vehicula in rutrum ac, luctus non mi.
            Nam consectetur ante purus, quis elementum ante eleifend ac.
            </p>

            <p>
            Nunc in sem non ex porta egestas non eget nunc. Sed
            condimentum massa quis tortor tincidunt, a ultrices libero
            laoreet. Nulla facilisi. Praesent sed nunc pellentesque,
            vulputate lorem et, posuere nulla. Curabitur fermentum finibus
            tortor, ac fringilla ante imperdiet quis. Etiam molestie augue
            sed purus efficitur, eu vulputate mi aliquam. Praesent eget
            fermentum lorem, vestibulum malesuada leo. Mauris porta sit
            amet turpis vel interdum. Proin id nisi urna. Nulla facilisi.
            Phasellus lacinia venenatis magna eget laoreet. Aliquam erat
            volutpat. Sed vitae tempor enim.
            </p>

            <figure>
              <p class="warning-block">
              Warning!!!
              nunc sed dignissim. Curabitur nisi dui, posuere sed vehicula
              vitae, viverra nec enim. Nam facilisis posuere nulla, sed
              sollicitudin eros rhoncus in. Phasellus tristique nulla at
              mauris venenatis placerat. Morbi eget lectus ac leo blandit
              accumsan et ut enim. Pellentesque et rutrum urna, vel aliquet
              velit. Nam sem quam, vehicula in rutrum ac, luctus non mi.
              </p>
              <figcaption>Warning example 1.2</figcaption>
            </figure>

          </section>
          <section id="revving">
            <header class="section-header">
              <h3 class="section-header__text">
                revving
              </h3>
              <a href="revving"
               class="cite-link">
              </a>
            </header>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin posuere ligula nisl, in sagittis tortor iaculis non.
            Pellentesque fringilla egestas lacinia. Ut auctor
            pellentesque erat. Vivamus cursus lectus nulla, accumsan
            malesuada velit consectetur non. Nam condimentum velit quis
            nulla interdum molestie. Nullam vulputate odio nec nisl
            varius, sed tristique ex auctor. Phasellus neque est, porta
            quis odio sed, ultrices maximus risus. Donec scelerisque non
            nunc sed dignissim. Curabitur nisi dui, posuere sed vehicula
            vitae, viverra nec enim. Nam facilisis posuere nulla, sed
            sollicitudin eros rhoncus in. Phasellus tristique nulla at
            mauris venenatis placerat. Morbi eget lectus ac leo blandit
            accumsan et ut enim. Pellentesque et rutrum urna, vel aliquet
            velit. Nam sem quam, vehicula in rutrum ac, luctus non mi.
            Nam consectetur ante purus, quis elementum ante eleifend ac.
            </p>

            <p>
            Nunc in sem non ex porta egestas non eget nunc. Sed
            condimentum massa quis tortor tincidunt, a ultrices libero
            laoreet. Nulla facilisi. Praesent sed nunc pellentesque,
            vulputate lorem et, posuere nulla. Curabitur fermentum finibus
            tortor, ac fringilla ante imperdiet quis. Etiam molestie augue
            sed purus efficitur, eu vulputate mi aliquam. Praesent eget
            fermentum lorem, vestibulum malesuada leo. Mauris porta sit
            amet turpis vel interdum. Proin id nisi urna. Nulla facilisi.
            Phasellus lacinia venenatis magna eget laoreet. Aliquam erat
            volutpat. Sed vitae tempor enim.
            </p>
          </section>
        </section>

        <a href="#main-header" class="ctrl--jump-to-top"></a>
        <footer class="footer">
          <hr>
          Designed and built by <span class="author">Zebedee Lewis</span>
        </footer>
      </main>
    </div>

      <!--
      <script
       src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js">
      </script>
      -->
  </body>
</html>
